<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IndieRoutes</title>
    <script src="https://code.jquery.com/jquery-3.2.1.js" type="text/javascript"></script>
    <script src="{{ url_for('static', filename = 'myScript.js')}}" type="text/javascript"></script>
</head>
<body>

<form action="" class="appnitro" enctype="multipart/form-data" id="fileUploadForm" method="GET">
    <div class="form_description">
        <h3>List of POI close to route</h3>
    </div>
    <ul>

        <table style="width: 450.05px;" cellpadding="1">
            <tbody>
            <tr>
                <td style="width: 150px;"><label class="description" for="o_lon">Origin Longitude </label></td>
                <td><input class="element text medium" id="o_lon" maxlength="255" name="o_lon" type="text"
                           value="-9.14516"/>
                    <small>example: -9.14516</small>
                </td>
            </tr>
            <tr>
                <td style="width: 150px;"><label class="description" for="o_lat">Origin Latitude </label></td>
                <td><input class="element text medium" id="o_lat" maxlength="255" name="o_lat" type="text"
                           value="38.72743"/>
                    <small>example: 38.72743</small>
                </td>
            </tr>
            <tr>
                <td style="width: 150px;"><label class="description" for="d_lon">Destination Longitude </label></td>
                <td><input class="element text medium" id="d_lon" maxlength="255" name="d_lon" type="text"
                           value="-9.39042"/>
                    <small>example: -9.39042</small>
                </td>
            </tr>
            <tr>
                <td style="width: 150px;"><label class="description" for="d_lat">Destination Latitude </label></td>
                <td><input class="element text medium" id="d_lat" maxlength="255" name="d_lat" type="text"
                           value="38.78756"/>
                    <small>example: 38.78756</small>
                </td>
            </tr>
            </tbody>
        </table>

        <input class="button_text" id="btnSubmit" name="submit" type="submit" value="Submit"/>
        </div>
    </ul>
</form>
<div id="show-highlights">

</div>

<form action="" class="appnitro" enctype="multipart/form-data" id="UploadFormPOI" method="GET">
    <div class="form_description">
        <h3>Nearest POI to point</h3>
    </div>
    <ul>

        <table style="width: 2%;" cellpadding="1">
            <tbody>
            <tr>
                <td><label class="description" for="lon">Longitude </label></td>
                <td><input class="element text medium" id="lon" maxlength="255" name="lon" type="text"
                           value="-9.14516"/>
                    <small>example: -9.14516</small>
                </td>
            </tr>
            <tr>
                <td><label class="description" for="lat">Latitude </label></td>
                <td><input class="element text medium" id="lat" maxlength="255" name="lat" type="text"
                           value="38.72743"/>
                    <small>example: 38.72743</small>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="buttons">
            <input name="form_id" type="hidden" value="60409"/>

            <input class="button_text" id="btnSubmit-POI" name="submit" type="submit" value="Submit"/>
        </div>
    </ul>
</form>
<div id="show-nearest-poi">

</div>


</body>
</html>